include README.md
include LICENSE
include requirements.txt
include frozen-requirements.txt
recursive-exclude experiments *
recursive-exclude tests *
recursive-exclude __pycache__ *
recursive-exclude *.pyc *
